html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;    
}

body{
    background-color:$primary-color;
    background-image: url(../assets/reel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $secondary-color;
    @include fluid-font-size(1.5rem, 2rem);
}

.parent {
    flex-grow: 1;
}

h1 {
    @include fluid-font-size(3rem, 10rem);
    margin: 3% auto;
    text-align: center;
}   

h2 {
    @include fluid-font-size(2rem, 4rem);  
    padding: 5% 5% 0 6%;
    @include small-laptop{
        &{
            padding: 3% 5% 0% 3%;
        }
    }
}

h3 {
    @include fluid-font-size(1.8rem, 2.5rem);
    padding-bottom: 5px; 
}

form {
    display: flex;
    flex-direction: column;
}

fieldset, .movie-results-container {
    padding: 20px;
    background:$primary-color-transparent;
    border-radius: 20px;
    box-shadow:5px 5px 15px 5px #000000;   
    
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

button, .button {
    background-color: $secondary-color;
    padding: 7px 15px;
    @include fluid-font-size(1.6rem, 2rem);
    text-transform: uppercase;
    border: none;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow:3px 3px 10px 3px #000000;
    transition: background-color ease-in-out 0.2s;
    font-family: inherit;
    font-weight: bold;
} 

button:hover, button:focus, 
.button:hover, .button:focus {
    background-color: $highlight-color;
}

//links formatted as buttons
a.button {
    display: inline-block;
    margin-bottom: 0;
    color: $primary-color;
    font-size: 1.55rem;
}

a.button::before { 
    font-family: "FontAwesome";
    content: "\f04b";
    padding-right: 5px;
}

//genre selection
.genre-btns {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 1% 4% 4%;    
    
    li {
        padding: 2%;
        @include small-phone{
            &{
                width: 110px;  
            }
        }
        
    }

    input[type=radio] {
        opacity: 0;
    }

    i.fas, i.fab {
        @include fluid-width-height(7rem, 10rem);
        @include fluid-font-size(3rem, 6rem);
        cursor: pointer;
        transition: transform ease-in-out .2s;
    }
}
        
i.fas, i.fab {    
    border-radius: 50%;
    background-color: $secondary-color;
    color:$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    padding-top: 0;

    span {
        padding-top: 10px;
    }
}

.genre-btn:checked + .fas,
.genre-btn:checked + .fab {
    background-color: $highlight-color;
}

.genre-btns :hover .fas, 
.genre-btns :hover .fab,
.gentre-btns:focus .fas,
.gentre-btns:focus .fab{
    transform: scale(1.15); 
    box-shadow: 3px 3px 10px 3px #000000; 
}


//movie results section
.movie-results-container {    
    display: flex;
    flex-direction: column; 
    margin-bottom: 5%;

    h2:last-of-type{
        margin-top: 35px;
    }

    button {
        align-self: center;
        margin-top: 50px;
    }
}

.movie-details {
    display: flex;
    flex-wrap: wrap;
    padding: 6%;
    padding-top: 2%;
    align-items: center;
    @include small-laptop{
        &{
            padding: 3%; 
        }
        
    }
}


.movie-details > div {
    width: 50%;
    @include small-laptop {
        &{
            width: 100%;
        }
        
    }
}

.movie-img{
    object-fit: cover;
    object-position: center;
    box-shadow:5px 5px 10px 3px #000000;
    border-radius: 15px;
}

.movie-txt {
    padding-left: 5%;
    @include small-laptop {
        &{
            padding-left: 0;
            padding-top: 5%;
        }
        
    }
}

.sub-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;

    h3 {
        padding-right: 8px;
        padding-bottom: 2px;
    }

    i {
        font-size: 1.8rem;
        height: 3.5rem;
        width: 3.5rem;
    }
}

.vote-average {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 5px 8px 0px;

    p {
        font-size: 1.6rem;
    }
}

.star-ratings {
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: relative;
    width: 225px;
    color: $highlight-color;
    margin-right: 5px;
    margin-bottom: 25px;

    .empty-ratings {
        display: flex;
        position: absolute;
        top: 0;
    }

    .fill-ratings {
        display: flex;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
}

.genre-thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    i {
        margin: 4px;        
    }
}



// similar-movies
.similar-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 6% 6%;
    @include small-laptop{
        &{
            padding: 25px;
        }
        
    }  
}

.similar-movies > div{
    width: calc(90% / 3);    
    @include small-laptop{
        &{
            width: 100%;
            margin-bottom: 5%;
        }
        
    }  
}


.up-button {
font-family: 'FontAwesome';
@include fluid-font-size(3rem, 6rem);
display: none;
position: fixed;
bottom: 20px;
right:5%;
z-index: 99;
cursor: pointer;
background-color: transparent;
color: $secondary-color-transparent;
font-weight: lighter;
box-shadow: none;
transition: transform ease-in-out .2s;
}

.up-button:hover,
.up-button:focus {
background-color:  transparent;
transform: scale(1.2);
color: $secondary-color-transparent-2;
}




footer{    
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    box-shadow:5px 5px 15px 5px #000000; 
    padding: 10px 0;
    @include fluid-font-size(1.6rem, 2.5rem);    
    @include animated-underline($highlight-color, 'span') ;      

        p{
            padding: 4px 0;
        }
        a{
        color: $highlight-color;
        }
}

