html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}

body{
    background-color:$primary-color;
    background-image: url(../assets/reel.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $secondary-color;
}
.parent{
    flex-grow: 1;
}

// mixin use examples
// body {
//     @include fluid-font-size(1.6rem, 2rem);
    
//     @include smartphone-MQ {
//         & {
//             background: $primary-color;
//         }
//     }
// }
h1{
    @include fluid-font-size(3rem, 10rem);
    margin: 3% auto;
    text-align: center;
}   

fieldset{
    background:$primary-color-transparent;
    border-radius: 20px;
    box-shadow:5px 5px 15px 5px #000000;   
}

h2{
    @include fluid-font-size(2rem, 4rem);  
    padding: 5% 5% 0 6%;
}
.form{
    padding: 20px;
}

.genre-btns {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            align-items: center;
            justify-content: center;
            padding: 2%;
            
}
li{
    padding: 15px;
}
        
i.fas, i.fab {    
    @include fluid-width-height(7rem, 10rem);
    border-radius: 50%;
    background-color: $secondary-color;
    color:$primary-color;
    @include fluid-font-size(3rem, 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
}

.genre-btn:checked + .fas,
.genre-btn:checked + .fab {
    background-color: goldenrod;
}

span {
    padding-top: 10px;
}

